<section class="why-choose-us">
  <div class="image-choose-us d-flex">
    <img src="assets/images/landing-page/sec-5/Audi 1.png" alt="" />
    <div class="captions">
      <div class="my-buttons d-flex">
        <button type="button" class="btnn mt-5 mb-3">WHY CHOOSE US</button>
        <button type="button" class="btnn mt-5 mb-3" routerLink="/home">
          Back To Home
        </button>
      </div>

      <h1 class="whychooseush1">
        We offer the best experience<br />
        with our rental deals
      </h1>

      <div class="icons mt-5">
        <div class="image1 d-flex">
          <img src="assets/images/card/snow-flake.png" alt="" />
          <p class="ms-3 main-title">Air Conditioning</p>
        </div>

        <div class="image2 d-flex">
          <img src="assets/images/card/user.png" alt="" />
          <p class="ms-3 main-title">2 Passagers</p>
        </div>
        <div class="image3 d-flex">
          <img src="assets/images/card/Frame.png" alt="" />
          <p class="ms-3 main-title">Auto</p>
        </div>
        <div class="image4 d-flex">
          <img src="assets/images/card/doors.png" alt="" />
          <p class="ms-3 main-title">2 Doors</p>
        </div>
      </div>
    </div>
  </div>
</section>
