<div class="footer-section">
  <div class="container">
    <div class="footer-data pt-5 d-flex justify-content-between">
      <div class="icons">
        <div class="logo-footer mb-5">
          <img src="assets/images/footer/logo-footer.png" alt="" />
        </div>
        <div class="icon d-flex">
          <i class="bi bi-geo-alt"></i>
          <p class="data-text1">
            25566 Hc 1, Glenallen,<br />
            Alaska, 99588, USA
          </p>
        </div>
        <div class="icon d-flex">
          <i class="bi bi-telephone"></i>
          <p class="data-text">+603 4784 273 12</p>
        </div>
        <div class="icon d-flex">
          <i class="bi bi-envelope"></i>
          <p class="data-text">rentcarsgmail.com</p>
        </div>
      </div>
      <div class="footer-data2 d-flex">
        <div class="our-product">
          <h3 class="footer-title">Our Product</h3>
          <div class="paragraph-title">
            <p>Career</p>
            <p>Car</p>
            <p>Packages</p>
            <p>Features</p>
            <p>Priceline</p>
          </div>
        </div>
        <div class="our-product">
          <h3 class="footer-title">Resources</h3>
          <div class="paragraph-title">
            <p>Download</p>
            <p>Help Centre</p>
            <p>Guides</p>
            <p>Partner Network</p>
            <p>Cruises</p>
            <p>Developer</p>
          </div>
        </div>
        <div class="our-product">
          <h3 class="footer-title">About Rentcars</h3>
          <div class="paragraph-title">
            <p>Why choose us</p>
            <p>Our Story</p>
            <p>Investor Relations</p>
            <p>Press Center</p>
            <p>Advertise</p>
          </div>
        </div>
        <div class="our-product">
          <h3 class="footer-title">Follow Us</h3>
          <div class="icons-title">
            <i class="bi bi-facebook pe-3"></i>
            <i class="bi bi-instagram pe-3"></i>
            <i class="bi bi-youtube pe-3"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <p class="p-line">Copyright 2023 ・ Rentcars, All Rights Reserved</p>
  </div>
</div>
