.not-found {
    background-color: #141019;
    background: radial-gradient(at 50% -20%, #908392, #0d060e) fixed;
    color: #fef5da;
  }
  
.not-found img {
  height: 100vh;
  width: 100vh;
  margin: auto;
  cursor: pointer;
  background-color: #141019;
  background: radial-gradient(at 50% -20%, #908392, #0d060e) fixed;
  color: #fef5da;
}
