<section class="contact-us container">
  <div class="image-choose-us d-flex">
    <div class="captions">
      <h1 class="contact-us-h1">
       Download Rentcars App for <span class="free-h1">FREE</span>
      </h1>
      <p class="contact-us-p">
        For faster, easier booking and exclusive deals.
      </p>
      
      <div class="titleimages mt-5 d-flex">
        <img
          src="assets/images/landing-page/andriod.png"
          class="me-3 w-25"
          alt=""
        />
        <img src="assets/images/landing-page/ios.png" class="w-25" alt="" />
      </div>
      <div class="holder position-relative">

          <div class="main-form mt-5">
             <input class="form-control w-50" type="text" placeholder="Name" aria-label="default input example">
             <input class="form-control w-50" type="text" placeholder="Phone Number" aria-label="default input example">
             <input class="form-control w-50" type="text" placeholder="Email" aria-label="default input example">
          </div>
         
          <div class="send-button position-absolute">
             <button type="button" class="btn btn-primary">Send</button>
          </div>
      </div>
      
    </div>
    <img src="assets/images/landing-page/sec-7/iphone.png" alt="" />
  </div>
</section>


