<section class="why-choose-us">
  <div class="image-choose-us d-flex">
    <img src="assets/images/landing-page/sec-5/Audi 1.png" alt="" />
    <div class="captions">
      <button type="button" class="btnn mt-5 mb-3">WHY CHOOSE US</button>
      <h1 class="whychooseush1">
        We offer the best experience with our rental deals
      </h1>
      <div class="icons mt-5">
        <div class="image1 d-flex">
          <img src="assets/images/landing-page/sec-5/user.png" alt="" />
          <h3 class="ms-4 main-title ">
            Best price guaranteed
            <p class="title-image">Find a lower price? We’ll refund you 100%<br>
                of the difference.</p>
          </h3>
        </div>
        
        <div class="image2 d-flex">
            <img src="assets/images/landing-page/sec-5/user.png" alt="" />
            <h3 class="ms-4 main-title ">
                Experience driver
              <p class="title-image">Don’t have driver? Don’t worry, we have many<br>
                experienced driver for you.</p>
            </h3>
          </div>
          <div class="image3 d-flex">
            <img src="assets/images/landing-page/sec-5/message.png" alt="" />
            <h3 class="ms-4 main-title ">
                24 hour car delivery
              <p class="title-image">Book your car anytime and we will deliver it<br>
                directly to you.</p>
            </h3>
          </div>
          <div class="image4 d-flex">
            <img src="assets/images/landing-page/sec-5/chat.png" alt="" />
            <h3 class="ms-4 main-title ">
                24/7 technical support
              <p class="title-image">Have a question? Contact Rentcars support<br>
                any time when you have problem.</p>
            </h3>
          </div>
      </div>
    </div>
  </div>
</section>
