<section class="how-it-work">
  <div class="conainer">
    <div class="row">
      <div class="content">
        <button type="button" class="btnn mt-5 mb-3 m-auto">HOW IT WORK</button>
        <h1 class="d-flex justify-content-center mt-4">
          Rent with following 3 working steps
        </h1>

        <div class="cards d-flex justify-content-evenly mt-5">
          <div class="card" style="width: 9rem">
            <img
              src="assets/images/landing-page/location.png"
              class="card-img-top"
              alt="..."
            />
            <div class="cardtitle" style="width: 15rem">
              <h2 class="mt-4">Choose location</h2>
              <p class="mt-3">
                Choose your and find <br />
                your best car
              </p>
            </div>
          </div>

          <div class="card" style="width: 9rem">
            <img
              src="assets/images/landing-page/calender.png"
              class="card-img-top"
              alt="..."
            />
            <div class="cardtitle" style="width: 15rem">
              <h2 class="mt-4 ms-3">Pick-up date</h2>
              <p class="mt-3 ms-3">
                Select your pick up date and <br />
                time to book your car
              </p>
            </div>
          </div>

          <div class="card" style="width: 9rem">
            <img
              src="assets/images/landing-page/car-icon.png"
              class="card-img-top"
              alt="..."
            />
            <div class="cardtitle" style="width: 15rem">
              <h2 class="mt-4 ms-3">Book your car</h2>
              <p class="mt-3 ms-3">
                Book your car and we will deliver<br />
                it directly to you
              </p>
            </div>
          </div>
        </div>
        <div class="car-images d-flex justify-content-between">
          <div class="image">
            <img src="assets/images/landing-page/audi.png" alt="" />
          </div>
          <div class="image">
            <img src="assets/images/landing-page/nissan.png" alt="" />
          </div>
          <div class="image">
            <img src="assets/images/landing-page/ac.png" alt="" />
          </div>
          <div class="image">
            <img src="assets/images/landing-page/jaguar.png" alt="" />
          </div>
          <div class="image">
            <img src="assets/images/landing-page/volvo.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
