<section class="testimonials">
  <div class="main-quotation d-flex justify-content-between">
    <div class="left-quotation">
      <img src="assets/images/landing-page/sec-6/bg-sec6.png" alt="" />
    </div>
    <div class="testimonials-caption">
      <button type="button" class="btnn mt-5 mb-3">TESTIMONIALS</button>
      <h1 class="testimonialsh1">What peole say about us?</h1>
    </div>

    <div class="right-quotation">
      <img src="assets/images/landing-page/sec-6/bg-sec6.png" alt="" />
    </div>
  </div>

  <div class="cards w-100 d-flex justify-content-evenly m-auto">
    <div class="card shadow-lg mb-3 me-5">
      <div class="row g-0">
        <div class="col-md-6">
          <img
            src="assets/images/landing-page/sec-6/boy.png"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <p class="start mt-3"><span class="rate">5.0</span> stars</p>
            <div class="stars">
              <i class="fa-solid fa-star star-rate"></i>
              <i class="fa-solid fa-star star-rate"></i>
              <i class="fa-solid fa-star star-rate"></i>
              <i class="fa-solid fa-star star-rate"></i>
            </div>
            <!-- <h5 class="card-title">Card title</h5> -->
            <p class="card-text mt-4">
              “I feel very secure when using caretall's services. Your customer
              care team is very enthusiastic and the driver is always on time.”
            </p>
            <h3 class="mt-5 fw-medium">
              Charlie Johnson
              <p class="card-text">
                <small class="text-body-secondary"
                  >From New York, US</small
                >
              </p>
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-6">
          <img
            src="assets/images/landing-page/sec-6/boy.png"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <p class="start mt-3"><span class="rate">5.0</span> stars</p>
                <div class="stars">
                  <i class="fa-solid fa-star star-rate"></i>
                  <i class="fa-solid fa-star star-rate"></i>
                  <i class="fa-solid fa-star star-rate"></i>
                  <i class="fa-solid fa-star star-rate"></i>
                </div>
                <!-- <h5 class="card-title">Card title</h5> -->
                <p class="card-text mt-4">
                  “I feel very secure when using caretall's services. Your customer
                  care team is very enthusiastic and the driver is always on time.”
                </p>
                <h3 class="mt-5 fw-medium">
                  Charlie Johnson
                  <p class="card-text">
                    <small class="text-body-secondary"
                      >From New York, US</small
                    >
                  </p>
                </h3>
              </div>
        </div>
      </div>
    </div>
  </div>
</section>
